/**
 * -----------------------------------------------------------------------------
 * File: component/anchors/global
 * -----------------------------------------------------------------------------
 *
 */

%anchor-underline,
.anchor-underline {
  background-image: none;
  color: $color--green;
  display: inline;
  position: relative;
  text-decoration: none;
  width: auto;

  &:hover {
    background-image: linear-gradient(to right, $color--green 100%, $color--green 100%);
    background-image: -moz-linear-gradient(bottom, $color--green 100%, $color--green 100%);
    background-position: 0 18px;
    background-repeat: repeat-x;
    background-size: 100% 1px;

    @include bp-md() {
      background-position: 0 24px;
    }
  }
}

@-moz-document url-prefix() {
  %anchor-underline,
  .anchor-underline {
    &:hover {
      background-image: none;
      text-decoration: underline;
    }
  }
}

%anchor-underline-lg,
.anchor-underline-lg {
  @extend %anchor-underline;
  &:hover {
    background-position: 0 20px;
    @include bp-md() {
      background-position: 0 34px;
    }
  }
}

@-moz-document url-prefix() {
  %anchor-underline-lg,
  .anchor-underline-lg {
    &:hover {
      background-image: none;
      text-decoration: underline;
    }
  }
}


// Main nav
%anchor-underline-nav,
.anchor-underline-nav {
  background-image: none;
  color: $color--black;
  display: inline;
  text-decoration: none;
  width: auto;

  &:hover,
  &.is-active {
    background-image: linear-gradient(to right, $color--black 100%, $color--black 100%);
    background-image: -moz-linear-gradient(bottom, $color--black 100%, $color--black 100%);
    background-position: 0 26px;
    background-repeat: repeat-x;
    background-size: 100% 2px;

    @include bp-md() {
      background-position: 0 26px;
    }
  }
}

@-moz-document url-prefix() {
  %anchor-underline-nav,
  .anchor-underline-nav {
    &:hover,
    &.is-active {
      background-image: none;
      text-decoration: underline;
    }
  }
}

// Sub nav
%anchor-underline-subnav,
.anchor-underline-subnav {
  @extend %anchor-underline-nav;
  
  &:hover,
  &.is-active {
    background-position: 0 22px;
  }
}

@-moz-document url-prefix() {
  %anchor-underline-subnav,
  .anchor-underline-subnav {
    &:hover,
    &.is-active {
      background-image: none;
      text-decoration: underline;
    }
  }
}

.anchor-dark {
  color: $color--black !important;
  text-decoration: none;
  &:after {
    display: none !important;
  }
}