/**
 * Forms - validation
 * -----------------------------------------------------------------------------
 */

.has-error {
	
}

.invalid-feedback {
    color: $color--danger;
    display: block;
    margin-bottom: 15px;
}