/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/primary
 * -----------------------------------------------------------------------------
 */

.btn-project-toggle {
  color: $color--green;
  @include font-size($fs-md);
  line-height: 1 !important;
  text-decoration: none;
  right: 0;
  position: absolute;
  top: 6px;
}