/**
 * -----------------------------------------------------------------------------
 * File: theme/brand
 * -----------------------------------------------------------------------------
 *
 */

.brand {
    @include background-default();
    background-image: url($url-images + 'logo-strut.svg');
    background-size: contain;
    display: block;
    height: 50px;
    width: 97px;

    // @include bp-md() {
    //     height: 50px;
    //     width: 50px;
    // }
}