/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color--primary:    #2B7770;
$color--secondary:  #303635;
$color--tertiary:   #A73A3A;

$color--sand:       #A29785;
$color--desert:     #E2DBD0;
$color--ocean:      #5AA49E;
$color--black:      #000000;
$color--white:      #ffffff;

$color--success:    #5cb85c !default;
$color--info:       #5bc0de !default;
$color--warning:    #f0ad4e !default;
$color--danger:     #d9534f !default;