/**
 * -----------------------------------------------------------------------------
 * File: config/global
 * -----------------------------------------------------------------------------
 *
 * Global settings and variables
 *
 */

 
/* Box shadows
 * -------------------- */

$box-shadow: 0 4px 6px rgba(100, 100, 100, 0.3);
$box-shadow-sm: 0 2px 3px rgba(100, 100, 100, 0.3);
$box-shadow-lg: 0 10px 20px rgba(100, 100, 100, 0.2);


/* Default easing
 * -------------------- */

$easing: cubic-bezier(0.980, 0.310, 0.940, 0.840);


/* Urls
 * -------------------- */
 
$url-images:  '../img/';
$url-icons:   '../img/icons/';
$url-pattern: '../img/patterns/';


/* Breakpoints
 * -------------------- */

$bp-xs:  400px;
$bp-sm:  720px;
$bp-md: 1024px;
$bp-lg: 1440px;

$breakpoints: (
  sm: $bp-sm,
  md: $bp-md,
  lg: $bp-lg,
);


/* Global element dimensions
 * ---------------------- */

// Page layout
$page-max-width:     400px;
$page-max-width-sm:  calc(100% - 60px);
$page-max-width-md:  calc(100% - 120px);
$page-max-width-lg:  1200px;

$page-max-width: (
  null:  $page-max-width,
  sm:    $page-max-width-sm,
  md:    $page-max-width-md,
  lg:    $page-max-width-lg
);