/**
 * -----------------------------------------------------------------------------
 * File: config/spaces
 * -----------------------------------------------------------------------------
 */

$space-xxs: 4px;
$space-xs:  8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;
$space-xl: 48px;

$spaces-xs: (
    null:  10px,
    sm:    10px,
    md:    20px,
    lg:    20px,
);

$spaces-lg: (
    null:  42px,
    sm:    42px,
    md:    84px,
    lg:    84px,
);