/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

$fs-xs: (
    null: (16px,1.2),
    sm:   (16px,1.2),
    md:   (17px,1.2),
    lg:   (18px,1.2),
);

$fs-sm: (
    null: (18px,1.25),
    sm:   (20px,1.25),
    md:   (23px,1.25),
    lg:   (24px,1.25),
);

$fs-md: (
    null: (23px,1.1),
    sm:   (26px,1.1),
    md:   (36px,1.1),
    lg:   (36px,1.1),
);

$fs-lg: (
    null: (25px,1.1),
    sm:   (30px,1.1),
    md:   (36px,1.1),
    lg:   (48px,1.1),
);

$fs-xl: (
    null: (30px,1.1),
    sm:   (40px,1.1),
    md:   (54px,1.1),
    lg:   (72px,1.1),
);

$fs-xxl: (
    null: (30px,1.1),
    sm:   (70px,1.1),
    md:   (90px,1.1),
    lg:   (120px,1.1),
);



