/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

$fs-nav: (
    null: (24px,1.29),
    sm:   (24px,1.25),
    md:   (24px,1.25),
    lg:   (24px,1.25),
);

$fs-subnav: (
    null: (20px,1.2),
    sm:   (20px,1.2),
    md:   (20px,1.2),
    lg:   (20px,1.2),
);

$fs-sm: (
    null: (17px,1.13),
    sm:   (15px,1.2),
    md:   (22px,1.2),
    lg:   (22px,1.2),
);

$fs-md: (
    null: (21px,1.21),
    sm:   (19px,1.21),
    md:   (31px,1.129),
    lg:   (31px,1.129),
);

$fs-lg: (
    null: (38px,1.05),
    sm:   (38px,1.03),
    md:   (51px,1.03),
    lg:   (51px,1.03),
);

// News boxes (Home)
$fs-news-sm: (
    null: (17px,1.13),
    sm:   (12px,1.2),
    md:   (15px,1.2),
    lg:   (22px,1.2),
);

$fs-news-md: (
    null: (21px,1.21),
    sm:   (16px,1.21),
    md:   (22px,1.129),
    lg:   (31px,1.129),
);

$fs-news-lg: (
    null: (38px,1.05),
    sm:   (32px,1.03),
    md:   (38px,1.03),
    lg:   (51px,1.03),
);