/**
 * -----------------------------------------------------------------------------
 * File: views/contact
 * -----------------------------------------------------------------------------
 *
 */

.contact {

  .contact-grid {
    @extend %grid-1fr2fr;
    position: relative;
  }

  .contact__imprint {
    margin-top: $space-md;
    @include bp-md() {
      margin-top: $space-xl;
    }

    > div {
      margin-top: $space-sm;
    }
  }

  .contact__maps {
    min-height: 300px;

    @include bp-sm {
      min-height: 400px;
    }

    @include bp-md {
      min-height: 500px;
    }
  }
}