/**
 * -----------------------------------------------------------------------------
 * File: views/contact
 * -----------------------------------------------------------------------------
 *
 */

.contact {

  .contact-grid {
    @extend %grid-1fr2fr;
    position: relative;

    article a {
      @extend %anchor-underline-lg;
    }
  }

  .contact__imprint {
    margin-top: $space-md;
    @include bp-md() {
      margin-top: $space-xl;
    }

    > div {
      margin-top: $space-sm;
    }

    a:not(.icon-toggle) {
      @extend %anchor-underline;
    }
  }

  .contact__maps {
    min-height: 300px;

    + div {
      margin-top: $space-xxs;
      @include bp-sm() {
        margin-top: $space-sm;
      }

      a {
        @extend %anchor-underline;
      }
    }

    @include bp-sm {
      min-height: 400px;
    }

    @include bp-md {
      min-height: 500px;
    }
  }
}