/**
 * -----------------------------------------------------------------------------
 * File: views/home
 * -----------------------------------------------------------------------------
 *
 */

 %figcaption {
  display: block;
  margin-bottom: 2px;
  width: 100%;

  @include bp-sm() {
    background-color: rgba(255,255,255,.4);
    height: 100%;
    margin-bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    transition: opacity .12s ease-out;
  }

  span {
    //@include word-break();
    color: $color--black;
    display: block;
    @include font-size($fs-md);
    height: auto;
    width: 100%;

    @include bp-sm() {
      height: auto;
      @include font-size($fs-lg);
      left: 0;
      padding: 0 $space-sm;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &.is-sm {
    @include bp-sm() {
      display: none;
    }
  }

  &.is-md {
    display: none;
    @include bp-sm() {
      display: block;
    }
  }
}

.home {

  // Highlight
  figure.is-highlight {
    position: relative;
    margin-bottom: $space-md;
    
    img {
      @extend %is-responsive;
    }

    figcaption {
      @extend %figcaption;
    }

    @include bp-sm() {
      &:hover {
        figcaption {
          opacity: 1;
        }
      }
    }
  }

  // Grid items
  .home__grids {
    overflow-x: hidden;
    position: relative;

    figure {

      figcaption {
        @extend %figcaption;
      }
    }

    a {
      display: block;
      @include bp-sm() {
        &:hover {
          figure {
            figcaption {
              opacity: 1;
            }
          }
        }
      }
    }

    article.news {
      border-bottom: 1px solid $color--black;
      border-top: 1px solid $color--black;
      padding: 5px 0;
      text-align: center;

      .news__date {
        @include font-size($fs-news-sm);
      }

      .news__body {
        @include word-break();
        height: auto;
        padding: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        &.has-date {
          transform: translateY(calc(-50% + 10px));

          @include bp-sm() {
            transform: translateY(calc(-50% + 9px));
          }

          @include bp-md() {
            transform: translateY(calc(-50% + 18px));
          }

          @include bp-lg() {
            transform: translateY(calc(-50% + 13px));
          }
        }
        
        h2 {
          @include font-size($fs-news-lg);
          @include bp-sm() {
            @include font-size($fs-news-md);
          }
          @include bp-lg() {
            @include font-size($fs-news-lg);
          }
        }

        h2, p {
          margin-bottom: $space-xs;
          
          @include bp-sm() {
            margin-bottom: $space-xxs;
          }

          @include bp-md() {
            margin-bottom: $space-xs;
          }
        }

        .news-subtitle {
          @include font-size($fs-news-md);

          @include bp-sm() {
            @include font-size($fs-news-sm);
          }

          @include bp-lg() {
            @include font-size($fs-news-md);
          }
        }

        p {
          @include font-size($fs-news-sm);
        }

        a {
          @extend %anchor-underline;
        }

        figure {
          margin-bottom: $space-sm;
          margin-top: $space-sm;
          @include bp-md() {
            margin-bottom: $space-md;
            margin-top: $space-md;
          }
          img {
            @extend %is-responsive;
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
}