/**
 * -----------------------------------------------------------------------------
 * File: component/cards/global
 * -----------------------------------------------------------------------------
 *
 */

%card-group,
.card-group {
  border: none;
  padding-top: 0;

  h2 {
    border-top: 1px solid $color--black;
    margin-bottom: $space-xs;
    line-height: 1 !important;
    padding-top: 5px;
    @include bp-md() {
      margin-bottom: $space-sm;
      padding-top: 7px;
    }
  }

  > div + h2 {
    margin-top: $space-sm;
    @include bp-md() {
      margin-top: $space-md;
    }
  }
}

%card,
.card {
  @include word-break();
  @include font-size($fs-sm);
  margin-bottom: $space-sm;
  padding-left: 24px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @include bp-md() {
    padding-left: 32px;
  }
  
  &:before {
    background-color: #1d1d1b;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 14px;

    @include bp-md() {
      height: 2px;
      top: 10px;
      width: 20px;
    }
  }

  a {
    @extend %anchor-underline;
  }

  &.has-link {

    // add arrow icon
    &:before {
      @include background-default();
      background-color: transparent;
      background-image: url($url-icons + 'arrow-link.svg');
      background-size: contain;
      background-position: top 3px left;
      height: 16px;
      top: 0;
      width: 16px;

      @include bp-md() {
        background-position: top 4px left;
        height: 22px;
        top: 0;
        width: 22px;
      }
    }
  }

  h3 {
    @include font-medium();
  }

  figure {
    margin-bottom: $space-xxs;
    margin-top: $space-xs;

    @include bp-md() {
      margin-bottom: $space-sm;
      margin-top: $space-xs;
    }

    img {
      display: block;
      height: auto;
      width: 70%;
    }
  }
}
