/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 */

$fs-xxs: (
    null: (12px,1.15),
    sm:   (12px,1.15),
    md:   (13px,1.15),
    lg:   (13px,1.15),
);

$fs-xs: (
    null: (14px,1.25),
    sm:   (14px,1.25),
    md:   (15px,1.25),
    lg:   (15px,1.25),
);

$fs-sm: (
    null: (16px,1.25),
    sm:   (16px,1.25),
    md:   (18px,1.25),
    lg:   (18px,1.25),
);

$fs-md: (
    null: (20px,1.25),
    sm:   (22px,1.25),
    md:   (24px,1.25),
    lg:   (26px,1.25),
);

$fs-lg: (
    null: (24px,1.25),
    sm:   (36px,1.25),
    md:   (28px,1.25),
    lg:   (32px,1.25),
);



