/**
 * -----------------------------------------------------------------------------
 * File: component/masonry/global
 * -----------------------------------------------------------------------------
 *
 */

.grid-row {
    border-top: 2px solid $color--dark;
    @include responsive-prop('padding-top', $space-xs);
    @include responsive-prop('margin-bottom', $space-md);
    
    &.grid-row--highlight {
        @include responsive-prop('margin-bottom', $space-lg); 
    }

    &.grid-row--draggable {
        cursor: move;
    }
}

.grid-layout-selector {
    position: relative;

    ul {
        background-color: $color--white;
        border-top: 2px solid $color--dark;
        display: none;
        margin: 0;
        padding: 0 0 5px 0;

        &.is-visible {
            display: block;
            display: grid;
            grid-template-columns: repeat(6, 122px);
            grid-gap: 10px;
            grid-row-gap: 0;

            @include bp-lg() {
                grid-template-columns: repeat(8, 122px);
            }
        }

        li {
            display: block;
        }
    
        a {
            display: block;
            padding: 10px;
            width: 122px;

            img {
                display: block;
                height: auto;
                width: 100%;
            }
    
            &:hover {
                background-color: $color--light-grey;
            }
        }
    }
}

.grids {
    
    .span {
        border: 2px dashed #999;
        display: flex;
        align-items: center;
        justify-content:center;
        min-height: 300px;

        div {
            text-align: center;
            width: 100%;
        }

        figure {
            height: 100%;;
            padding: 0;
            position: relative;

            .btn-trash {
                margin: 0;
                position: absolute;
                right: 10px;
                top: 10px;
            }

            figcaption {
                background-color: rgba($color: $color--dark, $alpha: .9);
                bottom: 0;
                color: $color--white;
                display: block;
                left: 0;
                padding: 10px;
                position: absolute;
                text-align: left;
                width: 100%;
                z-index: 1;
            }
        }

        img {
            display: block;
            height: auto;
            object-fit: cover;
            width: 100%;
        }

        article {
            padding-bottom: 25px;
            padding-top: 55px;
            position: relative;

            .btn-trash {
                right: 10px;
                position: absolute;
                top: 5px;
            }

            div {
                margin-bottom: 5px;
            }

            figure {
                display: block;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                width: 50%;

                img {
                    display: block;
                    height: auto;
                    width: 100%;
                }
            }
        }
    }

    [class*=' grid-'],
    [class^='grid-'] {
        display: grid;
        grid-gap: 20px;
    }
    
    .grid-1fr {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    
    .grid-2fr {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-3fr-landscape,
    .grid-3fr {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .grid-2fr-1fr {
        grid-template-columns: 2fr 1fr;
    }

    .grid-1fr-2fr {
        grid-template-columns: 1fr 2fr;
    }    
    
    .grid-2fr-1fr_stacked {
        grid-template-columns: 2fr 1fr;
    }

    .grid-1fr_stacked-2fr .span
    .grid-2fr-1fr_stacked .span {
        min-height: 200px;
    }

    .grid-1fr_stacked-2fr {
        grid-template-columns: 1fr 2fr;
    }

    .grid-1fr_stacked-1fr,
    .grid-1fr-1fr_stacked {
        grid-template-columns: 1fr 1fr;
    }
    
    .grid-1fr-1fr-1fr_stacked,
    .grid-1fr-1fr_stacked-1fr,
    .grid-1fr_stacked-1fr-1fr, {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid-3fr-landscape .span {
        min-height: 175px;
    }   

    .grid-stacked {
        grid-gap: 10px;
        grid-template-columns: 1fr;
        padding: 10px;
    }
    
    .grid-stacked .span {
        min-height: 125px;
        width: 100%;
    }

    .grid-1fr-highlight {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(200px, .5fr));
        padding: 10px;

        .span {
            border: none;
            display: block;
            min-height: auto !important;
            padding: 0;
        }
    }

    .is-highlight .span {
        min-height: 200px;
    }
}
