/**
 * -----------------------------------------------------------------------------
 * File: components/icons/grid
 * -----------------------------------------------------------------------------
 */

.icon-grid {
  @extend %icon-dashboard;
  background-image: url($url-icons + 'grid.svg');

  &.is-disabled {
    background-image: url($url-icons + 'grid-off.svg');
  }
}

.icon-grid-list {
  display: block;
  height: auto;
  width: auto;

  img {
    display: block;
    height: auto;
    width: 100px;
  }
}