/**
 * -----------------------------------------------------------------------------
 * File: component/animations
 * -----------------------------------------------------------------------------
 *
 */

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .16s, opacity .16s linear;  
}
