/**
 * Forms - various input fields
 * -----------------------------------------------------------------------------
 */

input {

    &.is-md {
        padding: 7px;
    }

    &.is-caption {
        border: 1px solid $color--black;
        font-size: 14px;
        line-height: 1;
        margin: 10px 0;
        padding: 5px;
        width: 100px;
    }
}