/**
 * -----------------------------------------------------------------------------
 * File: layout/article
 * -----------------------------------------------------------------------------
 */

%article,
.article {
  border-top: 1px solid $color--black;
  padding-top: 5px;
  position: relative;
}