/**
 * -----------------------------------------------------------------------------
 * File: layout/base
 * -----------------------------------------------------------------------------
 */


html {
    overflow-y: scroll;
    &.has-menu {
        // overflow-y: hidden;
        // @include bp-md() {
        //     overflow-y: scroll;
        // }
    }
}

html,
body {
    min-height: 100%;
}

body {
    @include font-regular();
    @include font-size($fs-sm);
    @include font-smoothing();
    text-rendering: optimizeLegibility;
}

// Scrollbars
@include scrollbar(8px, #dddddd, #eeeeee);
