/**
 * -----------------------------------------------------------------------------
 * File: layout/grid
 * -----------------------------------------------------------------------------
 *
 */

.grid-2x1fr + .grid-2x1fr {
    margin-top: $grid-gap;
}

.cssgrid {
    
    // Grid definition
    %grid {
        display: grid;
        display: -ms-grid;
        grid-gap: $grid-gap;
    }

    // Grid with 2 equal columns
    %grid-2x1fr,
    .grid-2x1fr {
        @extend %grid;
        @include bp-sm() {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.no-cssgrid {

    // Grid definition
    %grid {
        @extend %clearfix;
    }
    
    // Grid items
    .span {
        display: block;
    }
    
    // Grid with 2 equal columns
    %grid-2x1fr,
    .grid-2x1fr {
        @extend %grid;
        
        .span {
            float: left;
            margin-right: 24px;
            width: calc(50% - 12px);
    
            &:nth-child(2n+2) {
                margin-right: 0;
            }
        }
    }
}


// .grid-team-masonry {
//     .span {
//         @include bp-sm() {
//             width: calc(50% - 12px);
//         }
//         @include bp-md() {
//             width: calc(33.3333% - 16px);
//         }
//     }
// }