/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */

// Global header
header.site-header {
    background-color: $color--white;
    @include responsive-prop('height', $header-heights);
    opacity: 1;
    position: relative;
    width: 100%;
    z-index: 5;
    //transition: height .16s ease-out;

    > div {
        @extend %page-block;
        @include bp-md() {
            padding-top: 20px;
        }
    }

    &.is-tiny {
        height: 45px !important;
        position: fixed;
        .brand {
            display: none;
        }
        @include bp-md() {
            height: 70px !important;
        }
    }
}



.has-menu header.site-header {
    height: 100%;
    position: fixed;

    .brand {
        display: block !important;
    }

    @include bp-md() {
        position: relative;
    }
}




// Content header
%content-header,
header.content-header {
}

