/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */

// Global header
header.site-header {
    background-color: $color--white;
    @include responsive-prop('height', $header-heights);
    opacity: 1;
    position: fixed;
    width: 100%;
    z-index: 5;

    > div {
        @extend %page-block;
        z-index: 20;

        @include bp-md() {
            padding-top: 20px;
            position: relative;
        }
    }
    
    &.is-tiny {
        background-color: transparent;
        height: 45px;

        .brand {
            opacity: 0;
        }

        @include bp-md() {
            background-color: $color--white;
            height: 70px;
            transform: translateY(0);
            transition: transform .36s .24s ease-out;
        }
    }

    &.is-hidden {

        .brand {
            opacity: 0;
        }
        
        @include bp-md() {
            transform: translateY(-100%);
        }
    }
}

.has-menu header.site-header {
    background-color: $color--white !important;
    height: 100%;
    position: fixed;

    .brand {
        opacity: 1 !important;
    }
}

// Content header
%content-header,
header.content-header {
}

