/**
 * -----------------------------------------------------------------------------
 * File: layout/main
 * -----------------------------------------------------------------------------
 */

main.site-content {
    > div {
        @extend %page-block;
        padding-bottom: 10px;
        
        @include bp-md() {
            padding-bottom: 20px;
        }
    }

    &.site-content--home {
        > div {
            @include bp-md() {
                padding-bottom: 0;
            }
        }
    }
}
