/**
 * -----------------------------------------------------------------------------
 * File: components/typo/helpers
 * -----------------------------------------------------------------------------
 *
 * Helper classes for typography
 *
 */

.uc { text-transform: uppercase;}

.lc { text-transform: lowercase; }

.cap { text-transform: capitalize; }

.nobr { white-space: nowrap; }

/**
 * Typography - Generic elements
 * -----------------------------------------------------------------------------
 */

strong, b {
	@include font-medium();
}

p {
	margin-bottom: $space-sm;
	&:last-child,
	&:last-of-type {
		margin-bottom: 0;
	}
}