/**
 * -----------------------------------------------------------------------------
 * File: component/masonry/global
 * -----------------------------------------------------------------------------
 *
 */

.masonry-row {
    border-top: 2px solid $color--dark;
    @include responsive-prop('padding-top', $space-xs);
    @include responsive-prop('margin-bottom', $space-md);    
}

.masonry-layout-selector {

    position: relative;

    ul {
        background-color: $color--white;
        //box-shadow: $box-shadow-sm;
        border-top: 2px solid $color--dark;
        display: none;
        //left: 0;
        margin: 0;
        padding: 0;
        //position: absolute;
        //top: 40px;

        &.is-visible {
            display: block;
            display: grid;
            grid-template-columns: repeat(5, 102px);
            grid-gap: 10px;
        }

        li {
            display: block;
        }
    
        a {
            display: block;
            padding: 15px 15px 15px 10px;
            width: 102px;

            img {
                display: block;
                height: auto;
                width: 100%;
            }
    
            &:hover {
                background-color: $color--light-grey;
            }
        }
    }
}