/**
 * -----------------------------------------------------------------------------
 * File: component/blocks
 * -----------------------------------------------------------------------------
 *
 */

// Page block
%page-block,
.page-block {
    margin-left: auto;
    margin-right: auto;
    @include responsive-prop('padding-left', $spaces-xs);
    @include responsive-prop('padding-right', $spaces-xs);
    position: relative;
    @include responsive-prop('max-width', $page-max-width);
}