/**
 * -----------------------------------------------------------------------------
 * File: components/brand
 * -----------------------------------------------------------------------------
 */

$brand-dimensions: (
    null: 70px,
    sm:  108px,
    md:  148px,
    lg:  186px
);

$brand-top: (
    null: 20px,
    sm:   24px,
    md:   24px,
    lg:   24px
);

.brand {
    display: block;
    @include responsive-prop('height', $brand-dimensions);
    position: absolute;
    left: 50%;
    margin-left: -35px;
    @include responsive-prop('top', $brand-top);
    @include responsive-prop('width', $brand-dimensions);
    z-index: 110;
    @include bp-sm() {
        margin-left: -54px;
    }

    @include bp-md() {
        margin-left: -74px;
    }
    
    @include bp-lg() {
        margin-left: -93px;
    }

    img {
        @extend %is-responsive;
    }
}