/**
 * -----------------------------------------------------------------------------
 * File: components/images
 * -----------------------------------------------------------------------------
 *
 * Various classes for image elements
 */

%is-responsive,
.is-responsive {
    display: block;
    height: auto;
    width: 100%;
}

%is-object-fit,
.is-object-fit {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

figure + figure {
    margin-top: $space-sm;
    @include bp-md() {
        margin-top: $space-md;
    }
}