/**
 * -----------------------------------------------------------------------------
 * File: components/icons/file
 * -----------------------------------------------------------------------------
 */

%icon-arrow,
.icon-arrow {
  @extend %icon;
  @extend %icon-bg;
  background-image: url($url-icons + 'arrow-link.svg');
  background-size: 16px auto;
  background-position: top 3px left;
  color: $color--green;
  padding-left: 24px;

  &:hover span {
    @extend %anchor-underline;
  }
  
  @include bp-md() {
    background-image: url($url-icons + 'arrow-link.svg');
    background-size: 22px auto;
    background-position: top 4px left;
    padding-left: 32px;

  }
}