/**
 * -----------------------------------------------------------------------------
 * File: components/icons/file
 * -----------------------------------------------------------------------------
 */

%icon-file,
.icon-file {
  @extend %icon;
  @extend %icon-bg;
  background-image: url($url-icons + 'doc-sm-green.svg');
  background-size: 10px auto;
  color: $color--green;
  padding-left: 18px;

  &:hover span {
    @extend %anchor-underline;
  }

  @include bp-md() {
    background-image: url($url-icons + 'doc-lg-green.svg');
    background-size: 14px auto;
    background-position: top 2px left;
    padding-left: 25px;
  }
}