/**
 * -----------------------------------------------------------------------------
 * File: components/icons/menu
 * -----------------------------------------------------------------------------
 */

.icon-menu {
    @extend %icon;
    @extend %icon-bg;
    background-image: url($url-icons + 'menu-burger.svg');
    background-size: 42px 23px;
    background-position: center center;
    background-color: transparent;
    height: 33px;
    left: -5px;
    position: relative;
    top: 5px;
    width: 52px;
    z-index: 1;

    &.is-active {
        background-image: url($url-icons + 'menu-cross.svg');
        background-size: 27px 27px;
    }

    @include bp-md() {
        display: none;
    }
}

.is-tiny .icon-menu {
    background-color: $color--white;
}