/**
 * -----------------------------------------------------------------------------
 * File: form/forms/custom
 * -----------------------------------------------------------------------------
 */

form.custom {
    
    // Placeholder
    input[type=text]::-webkit-input-placeholder {
        color: $color--primary;
    }

    input[type=text]::-moz-placeholder {
        color: $color--primary;
    }
    
    input[type=text]:-ms-input-placeholder {
        color: $color--primary;
    }
    
    input[type=text]:-moz-placeholder {
        color: $color--primary;
    }
}

